<div class="col d-flex justify-content-center" *ngIf="adminLoginStatus">
  <div class="card" style="width: 25rem">
    <div class="card-header"></div>
    <div class="card-body align-items-center">
      <form class="p-3 bg-light" [formGroup]="productForm" novalidate>
        <div class="mb-3">
          <input
            type="text"
            name="name"
            formControlName="name"
            [ngClass]="{
              'is-invalid': f.name.touched && f.name.invalid
            }"
            [(ngModel)]="product.name"
            placeholder="Name"
          />
          <div
            *ngIf="f.name.touched && f.name.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.name.errors.required">
              Name is required and must be a valid name
            </div>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            name="price"
            formControlName="price"
            [ngClass]="{
              'is-invalid': f.price.touched && f.price.invalid
            }"
            [(ngModel)]="product.price"
            placeholder="Price"
          />
          <div
            *ngIf="f.price.touched && f.price.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.price.errors.required">Price is required</div>
          </div>
        </div>

        <div class="mb-3">
          <input
            type="text"
            name="description"
            formControlName="description"
            [ngClass]="{
              'is-invalid': f.description.touched && f.description.invalid
            }"
            [(ngModel)]="product.description"
            placeholder="Description"
          />
          <div
            *ngIf="f.description.touched && f.description.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.description.errors.required">
              Description is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            name="image"
            formControlName="image"
            [ngClass]="{
              'is-invalid': f.image.touched && f.image.invalid
            }"
            [(ngModel)]="product.image"
            placeholder="Image"
          />
          <div
            *ngIf="f.image.touched && f.image.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.image.errors.required">Image Link is required</div>
          </div>
        </div>

        <input
          type="submit"
          value="Add Product"
          (click)="onsubmit()"
          [disabled]="!productForm.valid"
          class="btn btn-primary"
        />
      </form>
    </div>
  </div>
</div>
