<div>
  <header
    class="
      d-flex
      flex-wrap
      align-items-center
      justify-content-center justify-content-md-between
      py-3
      mb-4
      border-bottom
    "
  >
    <a routerLink="home" class="text-decoration-none">
      <h3 class="text-decoration-none">
        Shop
        <small class="text-muted">24x7</small>
      </h3>
    </a>
    <a
      href="/"
      class="
        d-flex
        align-items-center
        col-md-3
        mb-2 mb-md-0
        text-light text-decoration-none
      "
    >
      <svg
        class="bi me-2"
        width="40"
        height="32"
        role="img"
        aria-label="Bootstrap"
      >
        <use xlink:href="#bootstrap" />
      </svg>
    </a>

    <ul class="nav justify-content-center mb-md-0">
      <li *ngIf="loginStatus">
        <a routerLink="home" class="nav-link px-2 link-secondary">Home</a>
      </li>
      <li *ngIf="loginStatus">
        <a routerLink="orders" class="nav-link px-2 link-secondary"> Orders </a>
      </li>
      <li *ngIf="loginStatus">
        <a routerLink="profile" class="nav-link px-2 link-secondary">Profile</a>
      </li>
      <li *ngIf="loginStatus">
        <a routerLink="order" class="nav-link px-2 link-secondary">
          Order Status
        </a>
      </li>
      <li *ngIf="adminLoginStatus">
        <a routerLink="admin-home" class="nav-link px-2 link-secondary">Home</a>
      </li>
      <li *ngIf="adminLoginStatus">
        <a routerLink="admin-profile" class="nav-link px-2 link-secondary"
          >Profile</a
        >
      </li>
      <li *ngIf="adminLoginStatus">
        <a routerLink="manage-products" class="nav-link px-2 link-secondary"
          >Products</a
        >
      </li>
      <li *ngIf="adminLoginStatus">
        <a routerLink="manage-users" class="nav-link px-2 link-secondary"
          >Users</a
        >
      </li>
      <li *ngIf="adminLoginStatus">
        <a routerLink="manage-orders" class="nav-link px-2 link-secondary"
          >Orders</a
        >
      </li>
      <li *ngIf="adminLoginStatus">
        <a routerLink="manage-admins" class="nav-link px-2 link-secondary"
          >Admins</a
        >
      </li>
    </ul>

    <div *ngIf="!loginStatus && !adminLoginStatus">
      <a routerLink="admin-login" class="btn btn-outline-primary me-2"
        >Are you a admin?</a
      >
      <a routerLink="login" class="btn btn-outline-primary me-2">Login</a>
      <a routerLink="register" class="btn btn-outline-primary me-2">Sign Up</a>
    </div>
    <div *ngIf="loginStatus || adminLoginStatus">
      <a (click)="logout()" class="btn btn-outline-danger me-2">Logout</a>
    </div>
  </header>
</div>
<span class="border-0">
  <div>
    <router-outlet></router-outlet>
  </div>
</span>
